#logo {
    color: #B20000;
    font-family: Inter, Ariel, monospace;
    font-size: 35px;
    font-weight: bold;
    // border-right: 1px solid black;
}

#logo-box {
    margin-left: 2em;
    // padding-right: ;
    // border-style: solid;
}

#logo-container {
    border-bottom: 1px solid black;
}

#form-container {
    width: 500px;
    margin: 9em auto;
    text-align: center;
}