<div>
   <!-- Nav basic display -->
    <div id="logo-container">
        <div id="logo-box">
            <h1 id="logo">Kubik</h1>
        </div>
    </div>


    <!-- Form  -->
    <div id="form-container">
        <div>
            <!-- <form class="login" #login="ngForm" (ngSubmit)="onSubmit(login)" novalidate> -->
            <form>
                <div>
                    <h1>Log in</h1>
                </div>

                <div>
                    <label>Username</label>
                    <input type="text" name="username" ngModel required>
                </div>

                <div>
                    <label>password</label>
                    <input type="password" name="password" ngModel required>
                </div>

                <div>
                    <button class="" style="width:100%;">Search</button>
                </div>

            </form>
        </div>

    </div>
</div>